body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: radial-Gradient(circle, darkturquoise, tan);

}
h1 {
    text-align: center;
}
img {
    border: 5px solid black;
    text-align: center;
}